<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="RCON_HOST" value="127.0.0.1"/>
      <add key="RCON_PORT" value="2302"/>
      <add key="RCON_PASS" value="1234"/>

      <add key="CW_HOST" value="127.0.0.1"/>  <!-- This is the ip of this server -->
      <add key="CW_PORT" value="9999"/> <!-- This is the port this server will listen on for commands -->
      <add key="CW_TOKEN" value="hurgh97845gnreo34nh"/> <!-- Security Thing -->
    </appSettings>
    <system.diagnostics>
      <trace autoflush="true" indentsize="4">
        <listeners>
          <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
          <add name="textWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="logs.log"/>
          <add name="eventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="YourEventLogSource" />
          <remove name="Default"/>
        </listeners>
      </trace>
    </system.diagnostics>  
</configuration>